In [1]:
import pandas as pd

In [2]:
import numpy as np

In [5]:
#pandas
# 1D array - series

In [6]:
#2D array  - dataframe

In [13]:
s=pd.Series([1,2,3,3,5])
s

0    1
1    2
2    3
3    3
4    5
dtype: int64

s1=pd.Series([1,2,3,4],index=['a','b','c','d'])

In [15]:
s1=pd.Series([1,2,3,4],index=['a','b','c','d'])

#

In [16]:
s1

a    1
b    2
c    3
d    4
dtype: int64

In [20]:
s1=pd.Series([1,2,3,4],index=['a','b','c','d'])
s1

a    1
b    2
c    3
d    4
dtype: int64

In [22]:
s2=pd.Series(np.random.rand(5),index=['a','b','c','d','e'])
s2

a    0.010810
b    0.709231
c    0.973479
d    0.138016
e    0.950347
dtype: float64

In [25]:
s3=pd.Series(np.random.randn(5),index=['a','b','c','d','e'])
s3

a    0.721722
b    0.561880
c    0.943887
d   -1.173665
e   -1.174756
dtype: float64

In [26]:
s4=pd.Series(np.random.randn(10))

In [27]:
s4

0   -1.590690
1    1.422520
2   -0.604045
3   -1.363089
4   -0.837335
5    1.707159
6   -0.043598
7   -1.607828
8    1.700680
9   -2.094885
dtype: float64

In [28]:
#rand - positive 0 to 1

In [ ]:
#randn - negative number also

In [35]:
dict={'a':1,'b':'sanjana','c':3}
dict

{'a': 1, 'b': 'sanjana', 'c': 3}

In [36]:
dict1=pd.Series(dict)

In [37]:
dict1

a          1
b    sanjana
c          3
dtype: object

In [41]:
dict1.iloc[1]

'sanjana'

In [43]:
dict1.iloc[0]

1

In [48]:
dict1.iloc[[1,2]]
#dict1[[1,2]]

a    1
dtype: object

In [55]:
s1+s4

a   NaN
b   NaN
c   NaN
d   NaN
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
6   NaN
7   NaN
8   NaN
9   NaN
dtype: float64

In [56]:
s1+s2

a    1.010810
b    2.709231
c    3.973479
d    4.138016
e         NaN
dtype: float64

In [58]:
df=pd.DataFrame()
df

Empty DataFrame
Columns: []
Index: []

In [62]:
df=pd.DataFrame(columns=['c1','c2','c3'],index=range(1,10))
df

    c1   c2   c3
1  NaN  NaN  NaN
2  NaN  NaN  NaN
3  NaN  NaN  NaN
4  NaN  NaN  NaN
5  NaN  NaN  NaN
6  NaN  NaN  NaN
7  NaN  NaN  NaN
8  NaN  NaN  NaN
9  NaN  NaN  NaN

In [66]:
df1=pd.DataFrame(dict1)

#

In [67]:
df1

         0
a        1
b  sanjana
c        3

In [68]:
df1.index

Index(['a', 'b', 'c'], dtype='object')

In [69]:
df1.columns

RangeIndex(start=0, stop=1, step=1)

In [70]:
df.columns

Index(['c1', 'c2', 'c3'], dtype='object')

In [74]:
df1[0]

a          1
b    sanjana
c          3
Name: 0, dtype: object

In [76]:
df1[0][0]

C:\Users\smutk\AppData\Local\Temp\ipykernel_1980\2534099685.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df1[0][0]

1

In [90]:
mylist=[
    ['Apple','Red'],
    ['banana','yellow'],
    ['orange','orange']
]

In [91]:
mylist

[['Apple', 'Red'], ['banana', 'yellow'], ['orange', 'orange']]

In [92]:
mylist1=pd.DataFrame(mylist)

In [93]:
mylist1

        0       1
0   Apple     Red
1  banana  yellow
2  orange  orange

In [94]:
mylist1=pd.DataFrame(mylist,columns=['Fruit name','color'])

In [96]:
mylist1

  Fruit name   color
0      Apple     Red
1     banana  yellow
2     orange  orange

In [98]:
mylist3=np.array([
    [0,1],
    [2,3],
    [4,5]])
mylist3

array([[0, 1],
       [2, 3],
       [4, 5]])

In [102]:
df3=pd.DataFrame(mylist3,columns=['even','odd'])

###

In [104]:
df3

   even  odd
0     0    1
1     2    3
2     4    5